[Unit]
Description=FireWatch.ai FastAPI Application
After=network.target

[Service]
Type=simple
User={{ ml_user }}
Group={{ ml_user }}
WorkingDirectory={{ app_dir }}
Environment="PATH={{ app_dir }}/venv/bin"
ExecStart={{ app_dir }}/venv/bin/uvicorn src.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
